.aboutContainer {
    display: flex;
    flex-direction: row;
    background-color: #A12226;
}

.descriptionContainer {
    flex: 1;
    padding: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.headerText {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.infoText {
    color: #fff;
    font-size: 1.25rem;
    text-align: center;
}

@media screen and (max-width: 760px) {
    .aboutContainer {
        flex-direction: column;
    }

    .descriptionContainer {
        margin-bottom: 0rem;
    }
}