:root {
    --primary: #fff;
}

button {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.signUpButton {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}

.sponsorButton {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btnMedium {
    padding: 8px 20px;
    font-size: 20px;
}

.btnLarge {
    padding: 12px 26px;
    font-size: 20px
}

.btnMedium:hover, .btnLarge:hover {
    background: #F3CD00;
    color: #242424;
    --primary: #F3CD00;
    transition: all 0.3s ease-out;
}