:root {
    --primary: #F3CD00;
    --secondary: #242424;
}

button {
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    outline: none;
    cursor: pointer;
}

.signUpButton {
    color: var(--secondary);
    border: 0.1rem solid var(--primary);
    background-color: var(--primary);
    font-size: 1.25rem;
    transition: all 0.3s ease-out;
}

.signUpButton:hover {
    background: var(--secondary);
    color: #fff;
    --primary: var(--secondary);
}

.sponsorButton {
    color: var(--secondary);
    border: 0.1rem solid var(--secondary);
    background-color: #fff;
    font-size: 1.25rem;
    transition: all 0.3s ease-out;
}

.sponsorButton:hover {
    background: var(--secondary);
    color: #fff;
    --primary: var(--secondary);
}