.mainFooter{
    /* background-color:rgba(211, 197, 95, 0.857); */
    background-color: #71B1C8;
    display: flex;
    flex-direction: row;
    min-height: 1vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.leftContainer {
    flex: 1;
}

.rightContainer {
    flex: 1;
    align-content: center;
    flex-direction: row;
}

.leftList{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.leftItem{
    /* font-family: brandon-grotesque, sans-serif; */
    color:white;
    font-style: normal;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 0.1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 5vh;
    list-style-type: none;
}

.link{
    /* font-family: brandon-grotesque, sans-serif; */
    color:white;
    font-style: normal;
    font-weight: 100;
}

.link:hover{
    color: #F3CD00;
}

.followText {
    /* font-family: brandon-grotesque, sans-serif; */
    flex: 1;
    color:white;
    font-style: normal;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    list-style-type: none;
    text-align: center;
}

.socialMedia {
    flex: 1;
    text-align: center;
}

.icon {
    font-size: 2rem;
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: all 0.2s ease-in-out;
}

.icon:hover {
    color: #F3CD00;
}

@media screen and (max-width: 768px) {
    .mainFooter {
        flex-direction: column;
        padding-bottom: 2rem;
    }

    .leftContainer {
        text-align: center;
    }

    .leftItem{
        margin-left: 0vh;
    }
}