.heroContainer {
  background: url('../../images/landing.png') center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
  object-fit: contain;
}

.logoContainer {
  flex: 1;
}

.logoContainer > img {
  /* height: 60%; */
  width: 60%;
}

.textContainer {
  flex: 1;
  text-align: left;
}

.textContainer > h1 {
  color: black;
  font-size: 3.125rem;
}

.textContainer > p {
  text-align: left;
  color: black;
  font-size: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.heroBtns {
  margin-top: 2rem;
}

.btnDivider{
  width: 2rem;
  height: auto;
  display: inline-block;
}

@media screen and (max-width: 960px) {
  .textContainer {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .heroContainer {
    display: flex;
    flex-direction: column;
  }

  .logoContainer > img {
    width: 80%;
    margin-top: 7.5vh;
  }
  
  .textContainer {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .textContainer > h1 {
    font-size: 2.5rem;
    margin-top: 1rem;
  }

  .textContainer > p {
    text-align: center;
    margin-top: 1rem;
  }

  .btnMobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
