.scheduleContainer {
  display: flex;
  flex-direction: row;
  background-image: url("../../images/landing.png") no-repeat;
}

.image {
  flex: 1;
}

.city {
  display: block;
  height: auto;
  width: 75%;
  margin-top: 3.125rem;
  margin-left: auto;
  margin-right: auto;
}

.scheduleSection {
  flex: 2;
}

.title {
  text-align: center;
  margin-bottom: 0.625rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.comingSoon {
  font-size: 2rem;
  color: #A12226;
}