.scheduleContainer {
  display: flex;
  flex-direction: row;
  background-image: url("../../images/landing.png") no-repeat;
  margin-bottom: 3em;
}

.cityContainer {
  flex: 1;
}

.city {
  display: block;
  height: auto;
  width: 75%;
  margin-top: 3.125rem;
  margin-left: auto;
  margin-right: auto;
}

.scheduleSection {
  flex: 2;
}

.itineraryText {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.625rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.noticeText {
  color: #A12226;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.comingSoon {
  font-size: 2rem;
  color: #A12226;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (max-width: 960px) {
  .scheduleContainer {
    flex-direction: column;
    align-content: center;
  }

  .cityContainer {
    width: 50%;
    align-self: center;
  }
}