.colTime {
  width: 40%;
}

.colEvent {
  width: 20%;
}

.colTime {
  width: 40%;
}

.dateText {
  text-align: center;
  margin-top: 15px;
}
  
.table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
  
.headerText {
  color: #A12226;;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.highlightText {
  color: #888;
}