.sponsorContainer {
    margin-bottom: 3em;
}

.sponsorText {
    margin-top: 2rem;
    font-size: 2.5rem;
    text-align: center;
}

.logo {
    /* filter: grayscale(1); */
    transition: all 0.3s ease-in-out;
}

.logo:hover {
    filter: none;
    transform: scale(1.05);
}

.tierContainer {
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
}

.goldTier {
    margin: 2rem;
    flex: 1;
    width: 40%;
    vertical-align: middle;
}

.silverTier {
    margin: 2rem;
    flex: 1;
    width: 15%;
    vertical-align: middle;
}

.bronzeTier {
    margin: 2rem;
    flex: 1;
    width: 12%;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    .goldTier {
        width: 80%;
    }
    
    .silverTier {
        width: 30%;
    }
    
    .bronzeTier {
        width: 24%;
    }
}