.main-footer{
    background-color:darkgreen;
    display:flex;
    flex-direction: column;
    min-height: 1vh;
}

.row{
    color: white;
    font-family:sans-serif;
    margin-left: 10vw;
}

.rights {
    background-color: maroon;
    text-align: center;
    color:white;
    margin-top: 1em;
}

.social-media-icon{
    height:32px;
    width:32px;
}

ul {
    list-style-type: none;
}

a {
    color:lightblue
}

a:hover{
    color:gold;
}